openapi: 3.0.1
info:
  title: Asset Manager API
  description: "The Asset Manager API provides endpoints for managing, discovering assets, reading user projects and organizations.\r\nThis API uses organization and project level roles to authorize requests."
  contact:
    name: API Support
    url: https://docs.unity.com/
    email: support@unity3d.com
    x-slack-channel: '#cloud-amc-api'
    x-slack-channel-alerts: '#cloud-amc-api'
  license:
    name: Unity Legal
  version: '1'
servers:
  - url: https://services.api.unity.com
    description: Production
  - url: https://staging.services.api.unity.com
    description: Staging
paths:
  '/assets/v1/organizations/{organizationId}/status':
    get:
      tags:
        - Asset management
      summary: List organization status flows.
      description: List status flows belonging to an organization.
      operationId: assets.v1.Assets.ReadStatusFlowsForOrganization
      parameters:
        - name: organizationId
          in: path
          description: The organization id.
          required: true
          schema:
            type: string
        - name: offset
          in: query
          description: The amount of entities to skip.
          schema:
            type: integer
            format: int32
            example: 10
          example: 10
        - name: limit
          in: query
          description: The page size.
          schema:
            maximum: 1000
            minimum: 1
            type: integer
            format: int32
            example: 25
          example: 25
      responses:
        '415':
          description: Unsupported Media Type
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ReadStatusFlowsByOrganizationResponse'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ReadStatusFlowsByOrganizationResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
  '/assets/v1/projects/{projectId}/assets/{assetId}/versions/{assetVersion}/statusflows/{statusFlowId}/assign':
    post:
      tags:
        - Asset management
      summary: Assign status flow.
      description: Assign a status flow to an asset version.
      operationId: assets.v1.Assets.AssignStatusFlowToAssetVersion
      parameters:
        - name: projectId
          in: path
          description: The project id.
          required: true
          schema:
            type: string
            example: e5a3ca16-13c7-4f2d-a5bb-984e349911df
          example: e5a3ca16-13c7-4f2d-a5bb-984e349911df
        - name: assetId
          in: path
          description: The asset id.
          required: true
          schema:
            type: string
            example: 65325f523a625f7e1acdb197
          example: 65325f523a625f7e1acdb197
        - name: assetVersion
          in: path
          description: The asset version.
          required: true
          schema:
            type: string
            example: b095dce9-6034-44c4-a02a-d41d7afbfab5
          example: b095dce9-6034-44c4-a02a-d41d7afbfab5
        - name: statusFlowId
          in: path
          description: The status flow id.
          required: true
          schema:
            type: string
      responses:
        '415':
          description: Unsupported Media Type
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
  '/assets/v1/projects/{projectId}/assets/{assetId}/versions/{assetVersion}/autosubmit/disable':
    post:
      tags:
        - Asset management
      summary: Disable the autosubmit mode.
      description: "If called in time, it will disable the autosubmit mode on an asset version.\r\n            After all the transformations complete, the asset will stay unfrozen."
      operationId: assets.v1.Assets.DisableAutoSubmit
      parameters:
        - name: projectId
          in: path
          description: The projectId.
          required: true
          schema:
            type: string
        - name: assetId
          in: path
          description: The assetId.
          required: true
          schema:
            type: string
        - name: assetVersion
          in: path
          description: The assetVersion.
          required: true
          schema:
            type: string
      responses:
        '415':
          description: Unsupported Media Type
        '204':
          description: No Content
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
  '/assets/v1/projects/{projectId}/assets/{assetId}/versions/{assetVersion}/autosubmit':
    post:
      tags:
        - Asset management
      summary: AutoSubmit asset version.
      description: "Enable autosaving in an asset version.\r\n            If there are transformations running, the AutoSubmit flag will be enabled for the asset version, and as soon as all the transformations are complete, the asset version will be submitted. While in AutoSubmit mode, no changes are allowed on the asset version. In this case no versionNumber will be returned in the response.\r\n            If there are no transformations running, the asset version will be immediately submitted (as SubmitAssetVersion does). The new versionNumber assigned to the asset will be included in the response."
      operationId: assets.v1.Assets.AutoSubmitAssetVersion
      parameters:
        - name: projectId
          in: path
          description: The projectId.
          required: true
          schema:
            type: string
        - name: assetId
          in: path
          description: The assetId.
          required: true
          schema:
            type: string
        - name: assetVersion
          in: path
          description: The assetVersion.
          required: true
          schema:
            type: string
      requestBody:
        description: The request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assets.AutoSubmitAssetVersionRequest'
      responses:
        '415':
          description: Unsupported Media Type
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.AutoSubmitAssetVersionResponse'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.AutoSubmitAssetVersionResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
  '/assets/v1/projects/{projectId}/assets/{assetId}/versions/{assetVersion}/metadata/rollback/{sequenceNumber}':
    patch:
      tags:
        - Asset management
      summary: Rolls the metadata of an asset version to a previous version.
      description: The endpoint to roll back metadata to a previous version.
      operationId: assets.v1.Assets.RollbackAssetVersionMetadataHistory
      parameters:
        - name: assetId
          in: path
          description: The Id of the asset.
          required: true
          schema:
            type: string
            example: b59940b38970
          example: b59940b38970
        - name: assetVersion
          in: path
          description: The asset version.
          required: true
          schema:
            type: string
            example: latest
          example: latest
        - name: projectId
          in: path
          description: The project id.
          required: true
          schema:
            type: string
            example: e5a3ca16-13c7-4f2d-a5bb-984e349911df
          example: e5a3ca16-13c7-4f2d-a5bb-984e349911df
        - name: sequenceNumber
          in: path
          description: The sequence to roll back to.
          required: true
          schema:
            type: integer
            format: int64
            example: 10
          example: 10
      responses:
        '415':
          description: Unsupported Media Type
        '204':
          description: No Content
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
  '/assets/v1/projects/{projectId}/assets':
    post:
      tags:
        - Asset management
      summary: Create asset.
      description: "Create a new asset in a project with primary and custom metadata.\r\nNote that custom metadata needs first to be created in the organization library, through metadata field definition creation."
      operationId: assets.v1.Assets.CreateNewAsset
      parameters:
        - name: projectId
          in: path
          description: The id of the project where the asset will be created.
          required: true
          schema:
            type: string
          example: e5a3ca16-13c7-4f2d-a5bb-984e349911df
      requestBody:
        description: The asset information to begin ingesting.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assets.CreateNewAssetRequest'
      responses:
        '415':
          description: Unsupported Media Type
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.CreateNewAssetResponse'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.CreateNewAssetResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
  '/assets/v1/libraries/{libraryId}/duplicate/projects/{destinationProjectId}':
    post:
      tags:
        - Library Management
      summary: Copy assets from library to a project.
      description: Copy assets from library to a project.
      operationId: assets.v1.Library.CopyLibraryAssetsToProject
      parameters:
        - name: libraryId
          in: path
          description: The library ID.
          required: true
          schema:
            type: string
          example: 1daf2f01-2e49-445f-afd4-7f4d998d6fa1
        - name: destinationProjectId
          in: path
          description: The project ID where the asset will be copied to.
          required: true
          schema:
            type: string
          example: e5a3ca16-13c7-4f2d-a5bb-984e349911df
      requestBody:
        description: The assets to be copied.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/assets.DuplicateAsset'
      responses:
        '415':
          description: Unsupported Media Type
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/assets.LibraryJob'
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/assets.LibraryJob'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
  '/assets/v1/libraries/jobs/duplication/{jobId}':
    get:
      tags:
        - Library Management
      summary: Read library job.
      description: Read library job.
      operationId: assets.v1.Library.GetLibraryJob
      parameters:
        - name: jobId
          in: path
          description: The job id.
          required: true
          schema:
            type: string
          example: 4230670b-99d0-48b5-a444-a23ecd2c2a50
      responses:
        '415':
          description: Unsupported Media Type
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.LibraryJob'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.LibraryJob'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
  /assets/v1/libraries/jobs/duplication:
    get:
      tags:
        - Library Management
      summary: Read library jobs.
      description: Read library jobs.
      operationId: assets.v1.Library.GetLibraryJobs
      responses:
        '415':
          description: Unsupported Media Type
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/assets.LibraryJob'
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/assets.LibraryJob'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
  '/assets/v1/libraries/{libraryId}':
    get:
      tags:
        - Library Management
      summary: Get library.
      description: Reads a library by id.
      operationId: assets.v1.Library.ReadLibrary
      parameters:
        - name: libraryId
          in: path
          description: The library identifier.
          required: true
          schema:
            type: string
        - name: includeFields
          in: query
          description: The optional fields to include in the response.
          schema:
            type: array
            items:
              type: string
            example:
              - hasCollection
          example:
            - hasCollection
      responses:
        '415':
          description: Unsupported Media Type
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.Library'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.Library'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
  /assets/v1/libraries:
    get:
      tags:
        - Library Management
      summary: List libraries.
      description: List libraries.
      operationId: assets.v1.Library.ReadLibraries
      parameters:
        - name: offset
          in: query
          description: The amount of entities to skip.
          schema:
            type: integer
            format: int32
            example: 10
          example: 10
        - name: limit
          in: query
          description: The page size.
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            example: 25
          example: 25
      responses:
        '415':
          description: Unsupported Media Type
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ReadLibrariesResponse'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ReadLibrariesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
  '/assets/v1/libraries/{libraryId}/assets/search':
    post:
      tags:
        - Library Management
      summary: Search assets by criteria.
      description: "Searches multiple assets filtering by the specified criteria.\r\n\n\r\nNote: if no labels filter is specified only versions with latest or pending labels will be returned.\r\n\n\r\nNote 2: Asset manager search endpoints work on the basis of the Eventual Consistency model. This means that at times, an update may take a short time to be reflected in search results."
      operationId: assets.v1.Library.SearchLibraryAssets
      parameters:
        - name: libraryId
          in: path
          description: The library id.
          required: true
          schema:
            type: string
          example: e5a3ca16-13c7-4f2d-a5bb-984e349911df
      requestBody:
        description: The search asset request criteria.
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/assets.SearchAssetsRequest'
                - $ref: '#/components/schemas/assets.SearchAssetVersionsRequest'
              description: The request to read the assets.
      responses:
        '415':
          description: Unsupported Media Type
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.SearchAssetsResponseV2'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.SearchAssetsResponseV2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
  '/assets/v1/libraries/{libraryId}/assets/{assetId}/versions/search':
    post:
      tags:
        - Library Management
      summary: Search asset versions by criteria.
      description: "Searches multiple assets filtering by the specified criteria.\r\n\n\r\nNote: Asset manager search endpoints work on the basis of the Eventual Consistency model. This means that at times, an update may take a short time to be reflected in search results.\r\n\n<b>Supported Query Objects</b>\r\n---\r\n\n<b>Exact Match</b>\nSearch for values that exactly match the field.\n<pre>{    \"type\": \"exact-match\",    \"value\": \"my-exact-value\"}</pre>\n\n<b>Date Range</b>\nSearch for values where the date field is in a given range.\n<pre>{    \"type\": \"date-range\",    \"conditions\" : [        {            \"conditionType\": \"greaterThanOrEqual\",            \"value\": \"2023-08-16T09:16:39Z\"        },        {            \"conditionType\": \"lessThan\",            \"value\": \"2023-08-27T09:00:00Z\"        },    ]}</pre>\n\n<b>Wildcard</b>\nSearch for values with wildcard placeholder characters ('?' for a single character, '*' for zero or more characters).\n<pre>{    \"type\": \"wildcard\",    \"value\": \"my-*-?-value\"}</pre>\n\n<b>Regex</b>\nSearch for values matching a regular expression.\n<pre>{    \"type\": \"regex\",    \"value\": \"^([1-9]|[a-z])\"}</pre>\n\n<b>Prefix</b>\nSearch for values beginning with a given term.\n<pre>{    \"type\": \"prefix\",    \"value\": \"term-starter\"}</pre>\n\n<b>Fuzzy</b>\nSearch for values similar to the given search term.<pre>{    \"type\": \"fuzzy\",    \"value\": \"bat\"}</pre>\n\n<b>Numeric Range</b>\nSearch for values in a given numeric range.<pre>{    \"type\": \"numeric-range\",    \"conditions\": [        {            \"conditionType\": \"greaterThanOrEqual\",            \"value\": 16384        },        {            \"conditionType\": \"lessThan\",            \"value\" : 1048576.256        }    ]}</pre>\n\n<b>AND Operator</b>\n<pre>{    \"type\": \"and\",    \"conditions\": [        {            \"type\" : \"prefix\",            \"value\": \"begins-with-this\"        },        {            \"type\": \"or\",            \"conditions\": [                {                    \"type\": \"wildcard\",                    \"value\": \"*-ends-with-this\"                },                {                    \"type\": \"wildcard\",                    \"value\": \"*-other-this\"                }            ]        }    ]}</pre>\n\n<b>OR Operator</b>\nSearch for results that match ONE or MORE of the given query conditions.<pre>{    \"type\": \"or\",    \"conditions\": [        {            \"type\" : \"prefix\",            \"value\": \"begins-with-this\"        },        {            \"type\": \"wildcard\",            \"value\": \"*-ends-with-this\"        }    ]}</pre>\n\n<b>NOT Operator</b>\nSearch for results that do NOT match the given query condition.<pre>{    \"type\": \"not\",    \"condition\": {        \"type\": \"or\",        \"conditions\": [            {                \"type\": \"prefix\",                \"value\": \"doesn't-begin-with-this\"            },            {                \"type\": \"wildcard\",                \"value\": \"*-or-end-with-this\"            }        ]    }}</pre>\n"
      operationId: assets.v1.Library.SearchLibraryAssetVersions
      parameters:
        - name: libraryId
          in: path
          description: The library id.
          required: true
          schema:
            type: string
          example: e5a3ca16-13c7-4f2d-a5bb-984e349911df
        - name: assetId
          in: path
          description: The id of the asset.
          required: true
          schema:
            type: string
          example: 65325f523a625f7e1acdb197
      requestBody:
        description: The search asset versions request criteria.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assets.SearchAssetVersionsRequest'
      responses:
        '415':
          description: Unsupported Media Type
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.SearchAssetsResponseV2'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.SearchAssetsResponseV2'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
  '/assets/v1/libraries/{libraryId}/assets/{assetId}/versions/{assetVersion}/datasets/{datasetId}/files':
    get:
      tags:
        - Library Management
      summary: Read asset files.
      description: Read asset files from a dataset in an asset.
      operationId: assets.v1.Library.ReadFiles
      parameters:
        - name: libraryId
          in: path
          description: The library id.
          required: true
          schema:
            type: string
        - name: assetId
          in: path
          description: The asset id.
          required: true
          schema:
            type: string
        - name: assetVersion
          in: path
          description: The asset version.
          required: true
          schema:
            type: string
        - name: datasetId
          in: path
          description: The dataset id.
          required: true
          schema:
            type: string
        - name: includeFields
          in: query
          description: The optional fields to include in the response.
          schema:
            type: array
            items:
              type: string
            example:
              - '*'
              - filePath
              - description
              - tags
              - portalMetadata
              - metadata
              - systemMetadata
              - userChecksum
              - fileSize
              - downloadURL
          example:
            - '*'
            - filePath
            - description
            - tags
            - portalMetadata
            - metadata
            - systemMetadata
            - userChecksum
            - fileSize
            - downloadURL
        - name: token
          in: query
          description: The pagination token.
          schema:
            type: string
        - name: limit
          in: query
          description: The amount of assets per page.
          schema:
            maximum: 2147483647
            minimum: 1
            type: integer
            format: int32
      responses:
        '415':
          description: Unsupported Media Type
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ReadFilesResponse'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ReadFilesResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
  '/assets/v1/libraries/{libraryId}/assets/{assetId}/versions/{assetVersion}':
    get:
      tags:
        - Library Management
      summary: Get asset version.
      description: Return a single asset from a library with on-demand fields.
      operationId: assets.v1.Library.GetLibraryAsset
      parameters:
        - name: libraryId
          in: path
          description: The id of the library where the asset lives.
          required: true
          schema:
            type: string
          example: e5a3ca16-13c7-4f2d-a5bb-984e349911df
        - name: assetId
          in: path
          description: The asset id.
          required: true
          schema:
            type: string
            example: 65325f523a625f7e1acdb197
          example: 65325f523a625f7e1acdb197
        - name: assetVersion
          in: path
          description: The asset version.
          required: true
          schema:
            type: string
            example: b095dce9-6034-44c4-a02a-d41d7afbfab5
          example: b095dce9-6034-44c4-a02a-d41d7afbfab5
        - name: includeFields
          in: query
          description: The optional fields to include in the response.
          schema:
            type: array
            items:
              type: string
            example:
              - '*'
              - name
              - description
              - tags
              - primaryType
              - portalMetadata
              - metadata
              - metadata.yourFieldName
              - systemMetadata.fieldName
              - datasets.*
              - datasets.name
              - datasets.isVisible
              - datasets.workflowName
              - datasets.description
              - datasets.tags
              - datasets.portalMetadata
              - datasets.metadata
              - datasets.systemMetadata
              - datasets.primaryType
              - files.*
              - files.filePath
              - files.description
              - files.tags
              - files.portalMetadata
              - files.metadata
              - files.systemMetadata
              - files.userChecksum
              - files.fileSize
              - files.downloadURL
              - files.previewURL
          example:
            - '*'
            - name
            - description
            - tags
            - primaryType
            - portalMetadata
            - metadata
            - metadata.yourFieldName
            - systemMetadata.fieldName
            - datasets.*
            - datasets.name
            - datasets.isVisible
            - datasets.workflowName
            - datasets.description
            - datasets.tags
            - datasets.portalMetadata
            - datasets.metadata
            - datasets.systemMetadata
            - datasets.primaryType
            - files.*
            - files.filePath
            - files.description
            - files.tags
            - files.portalMetadata
            - files.metadata
            - files.systemMetadata
            - files.userChecksum
            - files.fileSize
            - files.downloadURL
            - files.previewURL
      responses:
        '415':
          description: Unsupported Media Type
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/assets.AssetRead'
                  - $ref: '#/components/schemas/assets.AssetReadV2'
                description: The get asset response.
            application/problem+json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/assets.AssetRead'
                  - $ref: '#/components/schemas/assets.AssetReadV2'
                description: The get asset response.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
  '/assets/v1/libraries/{libraryId}/assets/{assetId}/versions/{assetVersion}/datasets/{datasetId}/files/{filePath}/download-url':
    get:
      tags:
        - Library Management
      summary: Get download file URL.
      description: Return a download URL for a given file.
      operationId: assets.v1.Library.GetLibraryDownloadAssetFileUrl
      parameters:
        - name: libraryId
          in: path
          description: The id of the library where the asset lives.
          required: true
          schema:
            type: string
          example: e5a3ca16-13c7-4f2d-a5bb-984e349911df
        - name: assetId
          in: path
          description: The ID of the asset.
          required: true
          schema:
            type: string
            example: 65325f523a625f7e1acdb197
          example: 65325f523a625f7e1acdb197
        - name: assetVersion
          in: path
          description: 'The version of the asset. For the time being, generated by the system.'
          required: true
          schema:
            type: string
            example: b095dce9-6034-44c4-a02a-d41d7afbfab5
          example: b095dce9-6034-44c4-a02a-d41d7afbfab5
        - name: datasetId
          in: path
          description: The ID of the dataset.
          required: true
          schema:
            type: string
            example: d21b2715-0c09-4c0d-ba8f-647291eacfd4
          example: d21b2715-0c09-4c0d-ba8f-647291eacfd4
        - name: filePath
          in: path
          description: The encoded path of the file. Serves as the unique identifier.
          required: true
          schema:
            type: string
            example: my-folder%2Fmy-file.txt
          example: my-folder%2Fmy-file.txt
        - name: width
          in: query
          description: '[Deprecated] This parameter is deprecated. Please use maxDimension instead./>'
          schema:
            type: integer
            format: int32
          example: 512
        - name: maxDimension
          in: query
          description: 'The desired length to resize the larger image dimension to, while maintaining the same aspect ratio. Should be between 50 and 3850. For DownloadURL.'
          schema:
            type: integer
            format: int32
          example: 512
      responses:
        '415':
          description: Unsupported Media Type
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.GetAssetFileUrlResponse'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.GetAssetFileUrlResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
  '/assets/v1/libraries/{libraryId}/assets/{assetId}/versions/{assetVersion}/download-urls':
    get:
      tags:
        - Library Management
      summary: Get asset download URLs.
      description: 'Get all the files download URLs of one or several datasets of the same asset. Note that every asset has by default 2 datasets: The source and the preview. Download URLs are valid for ten minutes only.'
      operationId: assets.v1.Library.GetAssetDownloadURLs
      parameters:
        - name: libraryId
          in: path
          description: The id of the library.
          required: true
          schema:
            type: string
          example: e5a3ca16-13c7-4f2d-a5bb-984e349911df
        - name: assetId
          in: path
          description: The id of the asset.
          required: true
          schema:
            type: string
          example: 65325f523a625f7e1acdb197
        - name: assetVersion
          in: path
          description: The version of the asset.
          required: true
          schema:
            type: string
          example: b095dce9-6034-44c4-a02a-d41d7afbfab5
        - name: limit
          in: query
          description: The limit of returning records for pagination.
          required: true
          schema:
            type: integer
            format: int32
          example: 10
        - name: offset
          in: query
          description: The pagination offset.
          schema:
            type: integer
            format: int32
            default: 1
          example: 1
        - name: datasets
          in: query
          description: The list of datasets from which to download files.
          schema:
            type: array
            items:
              type: string
        - name: maxDimension
          in: query
          description: 'The desired length to resize the larger image dimension to, while maintaining the same aspect ratio. Should be between 50 and 3850. For DownloadURL.'
          schema:
            type: integer
            format: int32
          example: 512
      responses:
        '415':
          description: Unsupported Media Type
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.GetAssetDownloadUrlsResponseV2'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.GetAssetDownloadUrlsResponseV2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
  '/assets/v1/libraries/{libraryId}/collections':
    get:
      tags:
        - Library Management
      summary: List library collections.
      description: Return all collections within a library.
      operationId: assets.v1.Library.ReadLibraryCollections
      parameters:
        - name: libraryId
          in: path
          description: The library id.
          required: true
          schema:
            type: string
        - name: offset
          in: query
          description: The pagination offset.
          schema:
            type: integer
            format: int32
            example: 1
          example: 1
        - name: limit
          in: query
          description: The limit of returning records for pagination.
          schema:
            type: integer
            format: int32
            example: 20
          example: 20
      responses:
        '415':
          description: Unsupported Media Type
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ReadCollectionsResponseV2'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ReadCollectionsResponseV2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
  '/assets/v1/libraries/{libraryId}/collections/{collectionPath}/assets/count':
    get:
      tags:
        - Library Management
      summary: Get the number of assets in a collection.
      description: Return the number of assets in collection.
      operationId: assets.v1.Library.ReadLibraryAssetCountOfCollection
      parameters:
        - name: libraryId
          in: path
          description: The id of the library where the asset lives.
          required: true
          schema:
            type: string
          example: e5a3ca16-13c7-4f2d-a5bb-984e349911df
        - name: collectionPath
          in: path
          description: The encoded path of the collection. Must be URL escaped.
          required: true
          schema:
            type: string
            example: MainCollection%2FParentCollection
          example: MainCollection%2FParentCollection
        - name: includeSubCollections
          in: query
          description: Flag to include child collections' assets in the count.
          schema:
            type: boolean
      responses:
        '415':
          description: Unsupported Media Type
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ReadAssetCountOfCollectionResponse'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ReadAssetCountOfCollectionResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
  '/assets/v1/libraries/{libraryId}/assets/count':
    get:
      tags:
        - Library Management
      summary: Count assets in library.
      description: Get the number of assets in a library.
      operationId: assets.v1.Library.CountAssetsInLibrary
      parameters:
        - name: libraryId
          in: path
          description: The library identifier.
          required: true
          schema:
            type: string
      responses:
        '415':
          description: Unsupported Media Type
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ReadAssetCountOfProjectResponse'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ReadAssetCountOfProjectResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
  '/assets/v1/libraries/{libraryId}/templates/fields':
    get:
      tags:
        - Library Management
      summary: List field definitions.
      description: Return metadata field definition from the organization library.
      operationId: assets.v1.Library.ListFieldDefinitionsAsyncV2
      parameters:
        - name: libraryId
          in: path
          description: The library identifier.
          required: true
          schema:
            type: string
        - name: name
          in: query
          description: The field definition names.
          required: true
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          description: The amount of field definitions per page.
          schema:
            maximum: 1000
            minimum: 1
            type: integer
            format: int32
            default: 999
        - name: includeDeleted
          in: query
          description: A value indicating whether the result should include deleted fields.
          schema:
            type: boolean
            default: false
          example: false
        - name: token
          in: query
          description: The pagination token for the next page.
          schema:
            type: string
            default: ''
        - name: sortingOrder
          in: query
          description: The order to sort the fields.
          schema:
            $ref: '#/components/schemas/assets.SortOrder'
          example: Ascending
        - name: fieldOrigin
          in: query
          description: 'If defined, only search for fields with the specified FieldOrigin value (either ''User'' or ''System'')'
          schema:
            type: string
      responses:
        '415':
          description: Unsupported Media Type
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ReadFieldDefinitionsResponseV2'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ReadFieldDefinitionsResponseV2'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
  '/assets/v1/libraries/{libraryId}/assets/{assetId}/labels':
    get:
      tags:
        - Library Management
      summary: List asset versions labels.
      description: List all labels assigned across all versions of an asset.
      operationId: assets.v1.Library.ListAssetLabels
      parameters:
        - name: libraryId
          in: path
          description: The id of the library where the asset is located.
          required: true
          schema:
            type: string
          example: e5a3ca16-13c7-4f2d-a5bb-984e349911df
        - name: assetId
          in: path
          description: The id of the asset.
          required: true
          schema:
            type: string
          example: 65325f523a625f7e1acdb197
        - name: offset
          in: query
          description: The amount of entities to skip.
          schema:
            type: integer
            format: int32
            example: 10
          example: 10
        - name: limit
          in: query
          description: The page size.
          schema:
            maximum: 1000
            minimum: 1
            type: integer
            format: int32
            example: 25
          example: 25
      responses:
        '415':
          description: Unsupported Media Type
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ListAssignedLabelsFromAssetResponse'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ListAssignedLabelsFromAssetResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
  '/assets/v1/libraries/{libraryId}/labels':
    get:
      tags:
        - Library Management
      summary: Read labels.
      description: Get all the labels in the organization.
      operationId: assets.v1.Library.GetLabels
      parameters:
        - name: libraryId
          in: path
          description: The id of the library where the asset is located.
          required: true
          schema:
            type: string
          example: e5a3ca16-13c7-4f2d-a5bb-984e349911df
        - name: status
          in: query
          description: The status of the labels to be returned.
          schema:
            $ref: '#/components/schemas/assets.LabelStatus'
          example: Active
        - name: isSystemLabel
          in: query
          description: The type of the labels to be returned.
          schema:
            type: boolean
            example: true
          example: true
        - name: offset
          in: query
          description: The amount of entities to skip.
          schema:
            type: integer
            format: int32
            example: 10
          example: 10
        - name: limit
          in: query
          description: The page size.
          schema:
            maximum: 1000
            minimum: 1
            type: integer
            format: int32
            example: 25
          example: 25
      responses:
        '415':
          description: Unsupported Media Type
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.GetLabelsResponse'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.GetLabelsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
  '/assets/v1/projects/{projectId}/assets/{assetId}/references':
    post:
      tags:
        - Asset reference management
      summary: Create a reference .
      description: "<p>\r\n            Asset Manager supports modeling a dependency between two asset versions by using the concept of a <b><i>reference</i></b>.\r\n            A reference is an oriented link from one source asset version identified by [assetId, assetVersion] pair towards another target asset version.\r\n            The target asset version can be identified by the pair [assetId, assetVersion] or by the pair [assetId, labelName].\r\n            </p>\r\n<p>\r\n            The first, assetVersion-kind is a \"hard-link\" as target asset version is hardcoded into reference during creation of the reference.\r\n            </p>\r\n<p>\r\n            The second, labeled-kind is a \"soft-link\" as it represents the target defined as \"asset version of an asset identified by assetId and having assigned label labelName\".\r\n            As such, whenever the labelName is reassigned, the real target asset version is changed to the asset version just receiving the labelName.\r\n            This provides for semantics based referencing which will keep up with the assets' evolution.\r\n            </p>"
      operationId: assets.v1.References.CreateReference
      parameters:
        - name: projectId
          in: path
          description: The project id.
          required: true
          schema:
            type: string
          example: e5a3ca16-13c7-4f2d-a5bb-984e349911df
        - name: assetId
          in: path
          description: The id of the source asset.
          required: true
          schema:
            type: string
          example: 65325f523a625f7e1acdb197
      requestBody:
        description: Request body to create a reference
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assets.CreateAssetReferenceRequest'
      responses:
        '415':
          description: Unsupported Media Type
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.CreateAssetReferenceResponse'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.CreateAssetReferenceResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
    get:
      tags:
        - Asset reference management
      summary: List references originating in assetId.
      description: "<p>\r\n            The context query parameter can be used to filter the result.\r\n            </p>\r\n<p>\r\n            If context == source, This endpoint lists all the references with assetId and asset version as source assetId and source assetVersion.\r\n            </p>\r\n<p>\r\n            If context == target, This endpoint lists all the references with assetId and asset version as target assetId and target assetVersion.\r\n            </p>\r\n<p>\r\n            If not context is provided, this endpoint list all the references that has the assetId and assetVersion as its target or source.\r\n            </p>"
      operationId: assets.v1.References.ListReferences
      parameters:
        - name: projectId
          in: path
          description: The project id.
          required: true
          schema:
            type: string
          example: e5a3ca16-13c7-4f2d-a5bb-984e349911df
        - name: assetId
          in: path
          description: The id of the asset.
          required: true
          schema:
            type: string
          example: 65325f523a625f7e1acdb197
        - name: AssetVersion
          in: query
          description: The asset version.
          schema:
            type: string
        - name: Context
          in: query
          description: The context to filter the result with.
          schema:
            $ref: '#/components/schemas/assets.Context'
        - name: offset
          in: query
          description: The amount of entities to skip.
          schema:
            type: integer
            format: int32
            example: 10
          example: 10
        - name: limit
          in: query
          description: The page size.
          schema:
            maximum: 255
            minimum: 1
            type: integer
            format: int32
            example: 25
          example: 25
      responses:
        '415':
          description: Unsupported Media Type
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ReadAssetReferencesResponse'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ReadAssetReferencesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
  '/assets/v1/projects/{projectId}/assets/{assetId}/versions/{assetVersion}/datasets/{datasetId}/files':
    post:
      tags:
        - File management
      summary: Create file.
      description: "Upload a file to an asset and define metadata. The file needs to belong to one dataset. By default, an asset has a source dataset and a preview dataset.\r\n\n\r\nWhen using the upload URL returned by this method, it is necessary to include the following header in your HTTP request:\r\n`x-ms-blob-type: BlockBlob`.\r\nThis header specifies the type of blob being uploaded to Azure Blob Storage and ensures that the upload operation is properly recognized and processed as a block blob.\r\n\n\r\nAdditionally, for streamed uploads where the file is uploaded in chunks, it is necessary to include the `Content-Type: application/octet-stream` header.\r\nThis ensures that the storage service correctly interprets the data being streamed and processes it without errors.\r\n\n<b>Failing to include the required headers may result in errors or unexpected behavior during the upload operation.</b>\r\nEnsure that all HTTP clients interacting with the upload URL are configured to set these headers correctly based on the upload method.\r\nNote: File metadata are not yet displayed on the Unity Asset Manager web. Returned URL is valid for one hour only."
      operationId: assets.v1.AssetFiles.CreateNewAssetFile
      parameters:
        - name: projectId
          in: path
          description: The id of the project where the asset belongs.
          required: true
          schema:
            type: string
          example: e5a3ca16-13c7-4f2d-a5bb-984e349911df
        - name: assetId
          in: path
          description: The ID of the asset.
          required: true
          schema:
            type: string
          example: 65325f523a625f7e1acdb197
        - name: assetVersion
          in: path
          description: The version of the asset.
          required: true
          schema:
            type: string
          example: b095dce9-6034-44c4-a02a-d41d7afbfab5
        - name: datasetId
          in: path
          description: The ID of the dataset in which the file should be assigned.
          required: true
          schema:
            type: string
          example: d21b2715-0c09-4c0d-ba8f-647291eacfd4
      requestBody:
        description: The request containing the details of the file to be created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assets.CreateNewAssetFileRequest'
      responses:
        '415':
          description: Unsupported Media Type
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.CreateNewAssetFileResponse'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.CreateNewAssetFileResponse'
        '206':
          description: Asset file is created but URL generation failed. Use the get upload url endpoint <a href="#tag/File-management/operation/assets_v1_AssetFiles_GetUploadAssetFileUrl">here</a> to fetch a new url.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.PartialCreateNewAssetFileResponse'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.PartialCreateNewAssetFileResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
    get:
      tags:
        - File management
      summary: Read asset files.
      description: Read asset files from a dataset in an asset.
      operationId: assets.v1.AssetFiles.ReadFiles
      parameters:
        - name: projectId
          in: path
          description: The project id.
          required: true
          schema:
            type: string
        - name: assetId
          in: path
          description: The asset id.
          required: true
          schema:
            type: string
        - name: assetVersion
          in: path
          description: The asset version.
          required: true
          schema:
            type: string
        - name: datasetId
          in: path
          description: The dataset id.
          required: true
          schema:
            type: string
        - name: includeFields
          in: query
          description: The optional fields to include in the response.
          schema:
            type: array
            items:
              type: string
            example:
              - '*'
              - filePath
              - description
              - tags
              - portalMetadata
              - metadata
              - systemMetadata
              - userChecksum
              - fileSize
              - downloadURL
          example:
            - '*'
            - filePath
            - description
            - tags
            - portalMetadata
            - metadata
            - systemMetadata
            - userChecksum
            - fileSize
            - downloadURL
        - name: token
          in: query
          description: The pagination token.
          schema:
            type: string
        - name: limit
          in: query
          description: The amount of assets per page.
          schema:
            maximum: 2147483647
            minimum: 1
            type: integer
            format: int32
      responses:
        '415':
          description: Unsupported Media Type
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ReadFilesResponse'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ReadFilesResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
  '/assets/v1/projects/{projectId}/assets/{assetId}/versions':
    post:
      tags:
        - Asset management
      summary: Create asset version.
      description: "Creates a new version of an existing asset. The new asset-version is in Unfrozen state.\r\nIf the new asset-version is created from an existing asset-version, the Previews and Sources datasets will be referenced from the base version(no new dataset versions created at this point)"
      operationId: assets.v1.Assets.CreateNewAssetVersion
      parameters:
        - name: projectId
          in: path
          description: The id of the project where the asset is located.
          required: true
          schema:
            type: string
          example: e5a3ca16-13c7-4f2d-a5bb-984e349911df
        - name: assetId
          in: path
          description: The id of the asset.
          required: true
          schema:
            type: string
          example: 65325f523a625f7e1acdb197
      requestBody:
        description: The asset information to create a version from.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assets.CreateNewAssetVersionRequest'
      responses:
        '415':
          description: Unsupported Media Type
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.CreateNewAssetVersionResponse'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.CreateNewAssetVersionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
  '/assets/v1/projects/{projectId}/assets/versions/bulk':
    post:
      tags:
        - Bulk Operations management
      summary: Create a bulk operation task for an asset version.
      description: "Creates a bulk operation that will be performed on a group of asset versions with a project. The bulk operation can be comprised of multiple operations.\r\nAn optional flag can be provided to freeze the asset versions once the operations have completed."
      operationId: assets.v1.BulkOperations.CreateAssetVersionBulkOperationTask
      parameters:
        - name: projectId
          in: path
          description: The project id.
          required: true
          schema:
            type: string
          example: e5a3ca16-13c7-4f2d-a5bb-984e349911df
      requestBody:
        description: The request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assets.CreateAssetVersionBulkOperationTaskRequest'
      responses:
        '415':
          description: Unsupported Media Type
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.CreateBulkOperationResponse'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.CreateBulkOperationResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
  '/assets/v1/projects/{projectId}/collections':
    post:
      tags:
        - Collection management
      summary: Create collection.
      description: Create a collection under a project. The special character '%' is not allowed in the collection name.
      operationId: assets.v1.Collections.CreateNewCollection
      parameters:
        - name: projectId
          in: path
          description: The id of the project where the collection will be created.
          required: true
          schema:
            type: string
          example: e5a3ca16-13c7-4f2d-a5bb-984e349911df
      requestBody:
        description: The request containing the collection data.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assets.CreateCollectionRequest'
      responses:
        '415':
          description: Unsupported Media Type
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.CreateCollectionResponse'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.CreateCollectionResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
    get:
      tags:
        - Collection management
      summary: List collections.
      description: Return all collections within a project.
      operationId: assets.v1.Collections.ReadCollections
      parameters:
        - name: projectId
          in: path
          description: The id of the project where the collection(s) live.
          required: true
          schema:
            type: string
            example: e5a3ca16-13c7-4f2d-a5bb-984e349911df
          example: e5a3ca16-13c7-4f2d-a5bb-984e349911df
        - name: offset
          in: query
          description: The amount of collections to skip.
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          description: The maximum number of collections to return.
          schema:
            type: integer
            format: int32
      responses:
        '415':
          description: Unsupported Media Type
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/assets.CollectionRead'
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/assets.CollectionRead'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/assets.ErrorMessage'
  '/assets/v1/projects/{projectId}/assets/{assetId}/versions/{assetVersion}/datasets':
    post:
      tags:
        - Dataset management
      summary: Create dataset.
      description: "Create a new dataset in an asset.\r\nNote: New datasets are not visible (yet) from the Unity Asset Manager. Neither is dataset metadata."
      operationId: assets.v1.Datasets.CreateNewDataset
      parameters:
        - name: projectId
          in: path
          description: The id of the project where the asset belongs.
          required: true
          schema:
            type: string
          example: e5a3ca16-13c7-4f2d-a5bb-984e349911df
        - name: assetId
          in: path
          description: The id of the asset.
          required: true
          schema:
            type: string
          example: 65325f523a625f7e1acdb197
        - name: assetVersion
          in: path
          description: The version of the asset.
          required: true
          schema:
            type: string
          example: b095dce9-6034-44c4-a02a-d41d7afbfab5
      requestBody:
        description: The request to create a new dataset.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assets.CreateNewDatasetRequest'
      responses:
        '415':
          description: Unsupported Media Type
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assets.CreateNewDatasetResponse'
            application/problem+json:
              schema:
[...]
